{% extends 'base.html.twig' %}

{% block title %}Pedido - Novo{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <h1>Produtos do Pedido</h1>

                <hr />

                <form action="" class="form-inline pull-right">
                    <div class="form-group">
                        <label for="name">Cliente</label>
                        <select class="form-control" id="customer" name="customer">
                            {% for customer in customers %}
                                <option value="{{ customer.id }}">{{ customer.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </div>
                </form>

                <table id="table" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Inserir Produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" id="forms">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="name">Produto</label>
                                <select class="form-control" id="name" name="name">
                                    {% for product in products %}
                                        <option value="{{ product | json_encode() }}">{{ product.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="quantity">Quantidade</label>
                                <input type="number" name="quantity" id="quantity" class="form-control" required>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button id="getValuesForm" data-dismiss="modal" class="btn btn-primary pull-right">Criar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>


        $('#getValuesForm').click(function() {
            var product = $('#forms').find('select[name="name"]').val();
            var quantity = $('#forms').find('input[name="quantity"]').val();

            console.log(product);

            $('#table tbody').append([
                "<tr>",
                    "<td name='product'>" + product + "</td>",
                    "<td name='quantity'>" + quantity + "</td>",
                    "<td>0</td>",
                    "<td>0</td>",
                "</tr>"
            ].join());
        });

    </script>
{% endblock %}
