{% extends 'base.html.twig' %}

{% block title %}Pedido - Novo{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <h1>Produtos do Pedido</h1>

                <hr />

                <form action="" class="form-inline pull-right">
                    <div class="form-group">
                        <label for="name">Cliente</label>
                        <select class="form-control" id="customer" name="customer">
                            {% for customer in customers %}
                                <option value="{{ customer.id }}">{{ customer.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </div>
                </form>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Total</th>
                        <th width="100">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{{ path('orders.show', {id: order.id}) }}">{{ order.number }}</a>
                            </td>
                            <td> {{ order.customer }} </td>
                            <td> {{ order.issuedAt }} </td>
                            <td> {{ order.total }} </td>
                            <td>
                                <a href="{{ path('orders.edit', {id: order.id}) }}" class="btn btn-primary pull-left">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <form action="{{ path('orders.destroy', {id: order.id}) }}" method="post" class="pull-left">
                                    <input type="hidden" name="_method" value="delete" />
                                    <button type="submit" class="btn btn-danger">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Inserir Produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ path('orderproduct.store') }}" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name">Produto</label>
                                    <select class="form-control" id="name" name="name">
                                        {% for product in products %}
                                            <option value="{{ product.id }}">{{ product.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="quantity">Quantidade</label>
                                    <input type="number" name="quantity" id="quantity" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="price">Preço</label>
                                    <input type="text" name="price" id="price" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="total">Total</label>
                                    <input type="text" name="total" id="total" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <button type="submit" class="btn btn-primary pull-right">Criar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
