{% extends 'base.html.twig' %}

{% block title %}Pedido{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <h1>Pedido</h1>

                <hr />

                <div class="row">
                    <div class="col-md-6">
                        <form action="{{ path('orders.index') }}" method="get">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-search"></i>
                                </div>
                                <input type="search" name="search" class="form-control" placeholder="Buscar por: tudo" value="{{ filter }}" required>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">
                                        Buscar
                                    </button>
                                    {% if filter %}
                                    <a href="{{ path('orders.index') }}" class="btn btn-info">
                                        Limpar
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <a href="{{ path('orders.create') }}" class="btn btn-primary pull-right">
                            <i class="glyphicon glyphicon-plus"></i> Novo
                        </a>
                    </div>
                </div>

                <hr />

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Pessoa</th>
                            <th>Número</th>
                            <th>Data</th>
                            <th>Total</th>
                            <th width="100"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{{ path('orders.show', {id: order.id}) }}">{{ order.number }}</a>
                            </td>
                            <td> {{ order.customer }} </td>
                            <td> {{ order.issuedAt }} </td>
                            <td> {{ order.total }} </td>
                            <td>
                                <a href="{{ path('orders.edit', {id: order.id}) }}" class="btn btn-primary pull-left">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <form action="{{ path('orders.destroy', {id: order.id}) }}" method="post" class="pull-left">
                                    <input type="hidden" name="_method" value="delete" />
                                    <button type="submit" class="btn btn-danger">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
