{% extends 'base.html.twig' %}

{% block title %}Produtos - {{ product.name }}{% endblock %}

{% block body %}
    <div class="container">
        <form action="{{ path('products.update', {id: product.id}) }}" method="post">
            <input type="hidden" name="_method" value="put" />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" name="name" id="name" class="form-control" value="{{ product.name }}" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Código</label>
                        <input type="text" name="code" id="code" class="form-control" value="{{ product.code }}" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Preço</label>
                        <input type="text" name="price" id="price" class="form-control" value="{{ product.price }}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('products.index') }}">Cancelar</a>

                    <button type="submit" class="btn btn-primary pull-right">Atualizar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
