{% extends 'base.html.twig' %}

{% block title %}Clientes - {{ customer.name }}{% endblock %}

{% block body %}
    <div class="container">
        <form action="{{ path('customers.update', {id: customer.id}) }}" method="put">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" name="name" id="name" class="form-control" value="{{ customer.name }}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="bornAt">Data de Nascimento</label>
                        <input type="date" name="bornAt" id="bornAt" class="form-control" value="{{ customer.bornAt | date('Y-m-d') }}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ path('customers.index') }}">Cancelar</a>

                    <button type="submit" class="btn btn-primary pull-right">Atualizar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
