{% extends 'base.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {% if message is iterable %}
                                <strong>{{ message.title }}</strong><br>
                                <p>{{ message.body }}</p>
                            {% else %}
                                <strong>{{ message }}</strong>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}

                <h1>Clientes</h1>

                <hr />

                <div class="row">
                    <div class="col-md-6">
                        <form action="{{ path('customers.index') }}" method="get">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-search"></i>
                                </div>
                                <input type="search" name="search" class="form-control" placeholder="Buscar por: nome ou data de nascimento" value="{{ filter }}" required>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">
                                        Buscar
                                    </button>
                                    {% if filter %}
                                    <a href="{{ path('customers.index') }}" class="btn btn-info">
                                        Limpar
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <a href="{{ path('customers.create') }}" class="btn btn-primary pull-right">
                            <i class="glyphicon glyphicon-plus"></i> Novo
                        </a>
                    </div>
                </div>

                <hr />

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data de Nascimento</th>
                            <th width="100"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                        <tr>
                            <td>
                                <a href="{{ path('customers.show', {id: customer.id}) }}">{{ customer.name }}</a>
                            </td>
                            <td>
                                {{ customer.bornAt | date('d/m/Y') }}
                            </td>
                            <td>
                                <a href="{{ path('customers.edit', {id: customer.id}) }}" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <form action="{{ path('customers.destroy', {id: customer.id}) }}" method="post" class="pull-right">
                                    <input type="hidden" name="_method" value="delete" />
                                    <button type="submit" class="btn btn-danger">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
